<%- include('partials/header') %>

<div
  class="container"
  id="home"
  style="background-image: url(/assets/background-image.svg)"
>
  <div class="container con-reg">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Mydos</h1>
    <p class="lead">Helps you achieve your task!</p>
    <hr />
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
