<%- include('partials/header.ejs'); -%>
<!-- <div
  class="container d-flex justify-content-center align-items-center min-vh-100"
> -->
  

  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    
    <div class="col-md-4">
      <h1 class= " d-flex  justify-content-center align-items-center">Login</h1>
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" />
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAi/QSVyT1l1KwBZ7DFI1SJ1rO0RS+7QfT3oz6qtwBl3upfICJ76CYO9c+OmzW6" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+Hk3UA7j3gKk6rI9KgI1Vrj7Xnx4erjz0ANu1AK/h6nv/Zz+5+PpbbV1" crossorigin="anonymous"></script>
<%- include('partials/footer.ejs'); -%>
